@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>

<head>
    <link href="~/Content/styles.css" rel="stylesheet" type="text/css" />
</head>
<style>
    #shampoo {
        position: relative;
        background-color: white;
        border-radius: 25px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        font-family: Garamond, serif;
        font-size: 16px;
        padding: 40px 40px;
        top: 20px
    }

    #subtitle {
        position: relative;
        font-family: Garamond, serif;
        font-size: 18px;
        font-weight: bold;
        left: 50px;
        top: 15px;
    }

    #pic {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        position: relative;
        top: 35px;
        left: 50px;
        height: 325px;
        width: 70%;
    }

    row {
        position: relative;
        top: 15px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-sm" id="one">
            <h3>Welcome to SustainableAlternatives! The ultimate guide to all things sustainable living.</h3>
            <h3>&nbsp;</h3>
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/98/HomepageImage.jpg" alt="Sustainable Items" style="width:100%">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm" id="one">
            <h3>&nbsp;</h3>
            <h3 style="font-weight:bold">Why Choose Sustainability?</h3>
            <h4 id="shampoo">
                Despite what some people may think, choosing sustainability when it comes to buying household
                items does not mean sacrificing functionality. Whether if its for the garden, kitchen, or bathroom,
                there are plenty of eco-friendly alternatives to single use items.
                <br />
                Choosing sustainability does not
                mean harming your wallet either! There are many zero waste and eco-friendly companies out there that
                provide you with options that are the same price or even cheaper than what is commonly used.
            </h4>
            <h3>&nbsp;</h3>
            <h3>&nbsp;</h3>
            <h3 style="font-weight:bold">How does this Help our Environment?</h3>
            <h4 id="shampoo">
                Around 50% of all plastic disposed of are single-use plastics, and these plastics are accumulating at a rapid
                rate. About 32% of the 72 million tons of plastic thrown away doesn't even make it to a landfill. These tons of
                plastic are left floating around in our ocean. The plastic wasted not only affects our oceans, lakes, rivers, plants,
                and wildlife, but also ourselves.To protect our planet, it is important to be mindful about our
                waste and what we are throwing away.
            </h4>
            <h3>&nbsp;</h3>
        </div>
    </div>
</div>
